<center>

    <h1> Organized builds by categories.<br>
        Community driven. Community submitted.</h1>
    <h2>With your help of course.</h2>

    <h4>Collective builds was started to provide organized,<br>real build examples for those interest in building a PC.<br>
        Here you can find up to date, custom builds by the category of use.
        <br>If you have a great build to share, it’s as easy as clicking the suggest a build.
        <br>We're far from perfect so if you have feedback let us know. We'd love to hear what you think.</h4>

    <table style="width:90%;" class="mainTable">
    	<tr class="TableToggle">
	    <th colspan="5">Gaming</th>
	</tr>
	<tr class="subHeadings">
	    <th>Name</th>
	    <th>CPU</th>
	    <th>Video Card</th>
	    <th>Total Price</th>
	    <th></th>
	</tr>
	<% @gaming.each do |build| %>
	    <tr class="tablerow">
		<td><%=build["name"]%></td>
		<% if build["parts"] && build["parts"].select{|p| p["type"] == "CPU"}.any? %>
		    <td><%= build["parts"].select{|p| p["type"] == "CPU"}.first["name"] %></td>
		<% else  %>
		    <td></td>
		<% end %>
		<% if build["parts"] && build["parts"].select{|p| p["type"] == "Video Card"}.any? %>
		    <td><%= build["parts"].select{|p| p["type"] == "Video Card"}.first["name"] %></td>
		<% else %>
		    <td></td>
		<% end %>
		<% if build["total_price"] %>
		    <td><%= build["total_price"] %></td>
		<% else  %>
		    <td></td>
		 <% end %>
		<td><a href=<%="/info/"+build["_id"].to_s%>>More Details</a></td>
	    </tr>
	<% end %>
    </table>

    <table style="width:90%;" class="mainTable">
    	<tr class="TableToggle">
	    <th colspan="5">Performance</th>
	</tr>
	<tr class="subHeadings">
	    <th>Name</th>
	    <th>CPU</th>
	    <th>Video Card</th>
	    <th>Total Price</th>
	    <th></th>
	</tr>
	<% @performance.each do |build| %>
	    <tr class="tablerow">
		<td><%=build["name"]%></td>
		<% if build["parts"] && build["parts"].select{|p| p["type"] == "CPU"}.any? %>
		    <td><%= build["parts"].select{|p| p["type"] == "CPU"}.first["name"] %></td>
		<% else  %>
		    <td></td>
		<% end %>
		<% if build["parts"] && build["parts"].select{|p| p["type"] == "Video Card"}.any? %>
		    <td><%= build["parts"].select{|p| p["type"] == "Video Card"}.first["name"] %></td>
		<% else %>
		    <td></td>
		<% end %>
		<% if build["total_price"] %>
		    <td><%= build["total_price"] %></td>
		<% else  %>
		    <td></td>
		 <% end %>
		<td><a href=<%="/info/"+build["_id"].to_s%>>More Details</a></td>
	    </tr>
	<% end %>
    </table>

    <table style="width:90%;" class="mainTable">
    	<tr class="TableToggle">
	    <th colspan="5">Mini PC</th>
	</tr>
	<tr class="subHeadings">
	    <th>Name</th>
	    <th>CPU</th>
	    <th>Video Card</th>
	    <th>Total Price</th>
	    <th></th>
	</tr>
	<% @mini.each do |build| %>
	    <tr class="tablerow">
		<td><%=build["name"]%></td>
		<% if build["parts"] && build["parts"].select{|p| p["type"] == "CPU"}.any? %>
		    <td><%= build["parts"].select{|p| p["type"] == "CPU"}.first["name"] %></td>
		<% else  %>
		    <td></td>
		<% end %>
		<% if build["parts"] && build["parts"].select{|p| p["type"] == "Video Card"}.any? %>
		    <td><%= build["parts"].select{|p| p["type"] == "Video Card"}.first["name"] %></td>
		<% else %>
		    <td></td>
		<% end %>
		<% if build["total_price"] %>
		    <td><%= build["total_price"] %></td>
		<% else  %>
		    <td></td>
		 <% end %>
		<td><a href=<%="/info/"+build["_id"].to_s%>>More Details</a></td>
	    </tr>
	<% end %>
    </table>

    <table style="width:90%;" class="mainTable">
    	<tr class="TableToggle">
	    <th colspan="5">Hackintosh</th>
	</tr>
	<tr class="subHeadings">
	    <th>Name</th>
	    <th>CPU</th>
	    <th>Video Card</th>
	    <th>Total Price</th>
	    <th></th>
	</tr>
	<% @hackintosh.each do |build| %>
	    <tr class="tablerow">
		<td><%=build["name"]%></td>
		<% if build["parts"] && build["parts"].select{|p| p["type"] == "CPU"}.any? %>
		    <td><%= build["parts"].select{|p| p["type"] == "CPU"}.first["name"] %></td>
		<% else  %>
		    <td></td>
		<% end %>
		<% if build["parts"] && build["parts"].select{|p| p["type"] == "Video Card"}.any? %>
		    <td><%= build["parts"].select{|p| p["type"] == "Video Card"}.first["name"] %></td>
		<% else %>
		    <td></td>
		<% end %>
		<% if build["total_price"] %>
		    <td><%= build["total_price"] %></td>
		<% else  %>
		    <td></td>
		 <% end %>
		<td><a href=<%="/info/"+build["_id"].to_s%>>More Details</a></td>
	    </tr>
	<% end %>
    </table>


    <table style="width:90%;" class="mainTable">
    	<tr class="TableToggle">
	    <th colspan="5">Media</th>
	</tr>
	<tr class="subHeadings">
	    <th>Name</th>
	    <th>CPU</th>
	    <th>Video Card</th>
	    <th>Total Price</th>
	    <th></th>
	</tr>
	<% @media.each do |build| %>
	    <tr class="tablerow">
		<td><%=build["name"]%></td>
		<% if build["parts"] && build["parts"].select{|p| p["type"] == "CPU"}.any? %>
		    <td><%= build["parts"].select{|p| p["type"] == "CPU"}.first["name"] %></td>
		<% else  %>
		    <td></td>
		<% end %>
		<% if build["parts"] && build["parts"].select{|p| p["type"] == "Video Card"}.any? %>
		    <td><%= build["parts"].select{|p| p["type"] == "Video Card"}.first["name"] %></td>
		<% else %>
		    <td></td>
		<% end %>
		<% if build["total_price"] %>
		    <td><%= build["total_price"] %></td>
		<% else  %>
		    <td></td>
		 <% end %>
		<td><a href=<%="/info/"+build["_id"].to_s%>>More Details</a></td>
	    </tr>
	<% end %>
    </table>


</center>
