<% unless @build["reviewed"] %>
     <div style= "background-color:#ffec83; border:2px; solid black; padding:10px; margin:30px; text-align:center; font-size: 20px; font-weight: bold;">
           Thanks for suggesting a build. <br>
           We will review your submission and it should be up shortly. <br>
           In the meantime you can check out a preview below.
     </div>
<% end %>

<div class="build_details">
    <h2><b><%= @build["name"] %></b></h2>
    <h5><div class="build_info"><b>Info:</b><br/><br/> <%= @build["description"] %></div></h5>

    <table style="width:90%;" class="mainTable">
        <tr class="InfoTable">
            <style>
	     td {
                 border: 12px solid #fff;
		 height: 45px;
	     }
            </style>

        </tr>
        <tr class="infoHeadings">
            <th></th>
            <th>Component</th>
            <th>Name</th>
            <th>Part Price</th>
        </tr>

	<% @build["parts"].each do |part| %>
            <tr>
                <td>
		    <% if File.exists?(settings.root+"/public/lib/images/icons/"+part["type"].downcase.gsub(" ", "-")+".jpg") %>
			<img class="component"" src=<%="/lib/images/icons/"+part["type"].downcase.gsub(" ", "-")+".jpg"%> alt="some_text">
		    <% end %>
		</td>
                <td><%= part["type"] %></td>
                <% if part["p3_url"] %>
		    <td><a href=<%= part["p3_url"] %>><%= part["name"]%></a></td>
		<% else %>
		    <td><%= part["name"]%></td>
		<% end %>
                <td><%= part["price"]%></td>
            </tr>
	<% end %>

	<tr>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td><b><%= @build["total_price"] %></b></td>
	</tr>

    </table>
</div>
